/* CSS Reset */
* {
    margin: 0;
    padding: 0;
}

/* CSS Variables */
:root {
    --navbar-height: 59px;
}

#navbar {
    display: flex;
    align-items: center;
    position: relative;
    font-family: 'Gentium Book Plus', serif;
}

/* Logo and Image */
#logo {

    margin: 10px 34px;
}

#logo img {
    height: 60px;
    margin: 3px 6px;
}

/* Navbar: List Styling */
#navbar ul {
    display: flex;

}

#navbar::before {
    content: "";
    background: black;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

#navbar ul li {
    /* color: white; */
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a {
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 10px;
    text-decoration: none;
}

#navbar ul li a:hover {
    color: black;
    background-color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 12px;
    text-decoration: none;
}

/* Home Section  */
#home {
    display: flex;
    flex-direction: column;
    height: 410px;
    padding: 3px 200px;
    align-items: center;
    justify-content: center;
}

#home::before {
    content: "";
    background: url('../bg1.jpg') no-repeat center center/cover;
    position: absolute;
    height: 72%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.9;
    padding: 36px 0px;
}

#home h1 {
    color: white;
    text-align: center;
    font-family: 'Baloo Bhai 2', cursive;
}

#home p {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Baloo Bhai 2', cursive;
}

/* Services Center */
#services {
    margin: 15px;
    display: flex;
}

#services .box {
    display: flex-inline;
    border: 2px solid brown;
    margin: 3px 6px;
    padding: 34px;
    border-radius: 28px;
    width: 33%;
    background-color: #f2f2f2;

}

#services .box img {
    height: 160px;
    display: block;
    margin: auto;
}

/* Client Section  */
#cleintsection {
    height: 344px;
}

#cleintsection::before {
    content: "";
    position: absolute;
    background: url('../bg.jpg');
    width: 100%;
    height: 54%;
    z-index: -1;
    opacity: 0.5;
}

#cleint {
   padding: 34px;
}

#cleint-item {
    display: flex;
    justify-content: center;
    align-items: center;

}

#cleint img {
    height: 124px;
}
/* Contact Section  */
#contact{
position: relative;
}
#contact::before{
content: "";
position: absolute;
width: 100%;
height: 100%;
z-index: -1;
opacity: 0.5;
background: url('../contact.jpg') no-repeat center center/cover;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;

}
#contact-box input,
#contact-box textarea{
width: 100%;
padding: 0.5rem;
border-radius: 9px;
font-size: 1.2rem;
}
#contact-box form{
    width: 40%;
}
#contact-box form label{
font-size: 1.5rem;
font-family: 'Baloo Bhai 2', cursive;
}
/* Footer  */
footer{
    background-color: black;
    color: white;
}
/* Utility Classes */
.headingprimary {
    font-size: 2.8rem;
    padding: 12px;
    font-family: 'Gentium Book Plus', serif;
}

.h-secondary {
    font-size: 1.8rem;
    padding: 12px;
    font-family: 'Gentium Book Plus', serif;
}

.btn {
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.5rem;
}

.center {
    text-align: center;
}